<div class="right-lube-nav">
	<div class="inline">
		<div class="reading-mode">
			<div class="drop-down-label">Reading mode:</div>
			<select id="drop-down">
				<option value="journal" selected>TRL</option>
				<option value="friendly">Friendly</option>
				<!-- <option value="dark">Dark</option> -->
			</select>
		</div>
		<!-- <label>friendly <input type="checkbox" id="textCheckbox"/></label> -->

		<div class="header">{{config.details.title}}</div>

		<div class="title home"><a href="/">home</a></div>

		<div class="title writing"><a href="/writing">writing</a></div>

		<!-- <div class="title hang-out"><a href="calendar.html">calendar</a></div> -->

		<div class="title calendar">
			<a class="title-toggle">calendar</a>
			<div class="show-calendar">
				<div class="inner-calendar">
					{{# calendar }} {{# description_html }}
					<span class="calendar-description">
						{{{ description_html }}}
					</span>
					{{/ description_html }} {{# content_html }}
					<span class="calendar-content">
						{{{ content_html }}}
					</span>
					{{/ content_html }} {{/ calendar }}
				</div>
			</div>
		</div>
	</div>
	<div class="socials">
		<a target="_blank" href="https://www.instagram.com/therightlube/"><i class="fa">&#xf16d;</i></a>
		<a target="_blank" href="https://twitter.com/therightlube?lang=en"><i class="fa">&#xf099;</i></a>
	</div>
</div>

<script>
	$(document).ready(function() {
		$(".title-toggle").click(function() {
			$(".show-calendar").toggle()
			$(".bio").toggle()
		})
	})

	function createCookie(name, value, days) {
		if (days) {
			var date = new Date()
			date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000)
			var expires = "; expires=" + date.toGMTString()
		} else var expires = ""
		document.cookie = name + "=" + value + expires + "; path=/"
	}

	function readCookie(name) {
		var nameEQ = name + "="
		var ca = document.cookie.split(";")
		for (var i = 0; i < ca.length; i++) {
			var c = ca[i]
			while (c.charAt(0) == " ") c = c.substring(1, c.length)
			if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length)
		}
		return null
	}

	function eraseCookie(name) {
		createCookie(name, "", -1)
	}

	function theme_friendly() {
		$(".access").toggleClass("accessibility")
	}

	$("#drop-down").change(function() {
		const selected = $(this).val()
		if (selected === "friendly") {
			theme_friendly()
			createCookie("cookie", "cookieaccess", 1000)
		} else {
			theme_friendly()
			eraseCookie("cookie", "cookieaccess")
		}
	})

	if (readCookie("cookie")) {
		theme_friendly()
		$("#drop-down")
			.val("friendly")
			.selected()
	}
</script>
