html {
	background-color: #afafaf;
	/*background-color: pink;*/
}

@font-face {
	font-family: "candy";
	src: url("../../fonts/CandyPop-demo-font.woff2") format("woff2"), url("../../fonts/CandyPop-demo-font.woff") format("woff");
}

@font-face {
	font-family: "Kanisah";
	src: url("../../fonts/Kanisah.woff2") format("woff2"), url("../../fonts/Kanisah.woff") format("woff");
}

@font-face {
	font-family: "kerry";
	src: url("../../fonts/RingofKerry.woff2") format("woff2"), url("../../fonts/RingofKerry.woff") format("woff");
}

@font-face {
	font-family: "yellow";
	src: url("../../fonts/yellow.woff2") format("woff2"), url("../../fonts/yellow.woff") format("woff");
}

body {
	/*font-family: arial;*/
}

a {
	text-decoration: none;
	color: red;
	font-family: "yellow";
}

.header {
	font-family: "candy";
	color: blue;
}

.inline {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
}

.title,
.header,
.ig {
	margin-top: 10px;
}

.title {
	display: inline-block;
	vertical-align: top;
	width: 13vw;
	line-height: 1em;
	margin-bottom: 10px;
	text-decoration: bold;
}

.title-toggle {
	cursor: pointer;
}

.show-calendar {
	display: none;
	text-align: left;
	font-size: initial;
	width: 100%;
}

.inner-calendar {
	width: 75vw;
	margin-top: 15px;
	padding: 5px 20px 0px 20px;
	position: relative;
	left: calc(-46.2vw + 50%);
	border: 1px solid black;
	background-color: #afafaf;
	z-index: 1;
}

.calendar-description {
	color: rgba(0, 0, 0, 0.6);
}

.calendar-content p {
	display: inline-block;
	margin-right: 30px;
}

.gem img {
	width: 100px;
}

.socials {
	position: fixed;
	right: 125px;
	top: 100px;
	transform: rotate(20deg);
	z-index: 2;
}

.socials a {
	color: HotPink;
	font-size: 1.5em;
}

.reading-mode {
	position: fixed;
	z-index: 9;
}

.drop-down-label {
	width: 80px;
	text-align: left;
	left: 10px;
	color: black;
	font-size: 1rem;
}

button,
select,
input {
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 0px 4px 2px 4px;
}

button:focus,
select:focus,
input:focus {
	outline: 0;
}

select#drop-down {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: initial;
	margin-top: 5px;
	left: 10px;
	border: 1px solid black;
	background: transparent;
	z-index: 9;
	cursor: pointer;
	border-radius: 0px;
	display: block;
	font-size: 1rem;
}

#drop-down input {
	opacity: 0;
}

body.accessibility {
	color: black;
	font-size: 1rem;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.accessibility p a {
	text-decoration: underline;
}

.accessibility,
.accessibility p,
.accessibility div,
.accessibility div a,
.accessibility div p,
.accessibility div h2,
.accessibility div span {
	color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

i {
	margin: 10px;
}

.bio,
.writing-page,
.newsletter {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	position: relative;
}

.speech-image {
	height: 100%;
}

.coverimage {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 600px;
	z-index: -1;
}

.links {
	border: 1px solid blue;
	margin: 20px 0px 10px 0px;
	width: 20vw;
	position: absolute;
	bottom: 0px;
	padding: 5px;
	text-align: left;
	display: block;
}

.links p {
	color: blue;
}

.links h2 {
	display: block;
	margin-bottom: 15px;
	font-family: "yellow";
	color: blue;
}

.coverimage img {
	border: solid 1px HotPink;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*width: 430px;*/
	max-height: 580px;
}

.bio {
	font-family: "candy";
	color: red;
	font-size: 1.1em;
	margin: 0px;
	text-align: center;
	margin-top: 10px;
}

.subtitle {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.sub-wrap {
}

.speech-one {
	position: absolute;
	margin-left: -100px;
}

.speech-two {
	position: absolute;
	margin-left: 80px;
	margin-top: 100px;
}

.emoji-one,
.emoji-two {
	position: absolute;
	z-index: 2;
	bottom: 10px;
	cursor: pointer;
	font-size: 2em;
}

.emoji-one {
	transform: rotateY(180deg);
	right: 0px;
}

.emoji-two {
	margin-top: 200px;
}

.bubble-one,
.bubble-two {
	position: absolute;
	border: solid 1px HotPink;
	background-color: #afafaf;
	color: red;
	padding: 5px;
	text-align: left;
	display: none;
	z-index: 1;
	bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
	width: 250px;
}

.links p,
.bubble-one p,
.bubble-two p {
	display: inline-block;
	margin: 0px;
}

.bubble-one {
	margin-left: calc(-250px + -30px);
}

.maz {
	display: inline-block;
	font-family: "kerry";
}

.hava {
	display: inline-block;
	font-family: "Kanisah";
}

/*writing*/

.signup {
	display: inline-block;
	text-align: left;
	width: 80%;
	margin: 40px 20px 20px 20px;
}

.newsletter input {
	display: inline-block;
	position: relative;
	margin: 0px;
	border: 1px solid black;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid black;
	background: transparent;
	font-size: 1rem;
}

.arena-block {
	margin: 20px;
	width: 80%;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis; /*make ellipsis work!*/
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	border-bottom: 1px solid red;
	padding-bottom: 10px;
}

.peek {
	overflow: visible;
	cursor: initial;
	display: block;
	border-bottom: none;
}

.arena-block-title {
	font-family: "yellow";
	font-size: 1em;
	font-style: bold;
	color: HotPink;
}

h2 {
	display: inline-block;
	margin: 0;
}

.description {
	font-style: italic;
	margin: 0;
}

.more {
	display: inline-block;
	font-family: inital;
	font-size: 1em;
	color: blue;
	margin-left: 10px;
	cursor: pointer;
}

.reverse {
	transform: rotateX(180deg);
}

